<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VaultBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CopyUSB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <VaultBackup.Properties.Settings>
            <setting name="Source" serializeAs="String">
                <value />
            </setting>
            <setting name="Dest" serializeAs="String">
                <value />
            </setting>
            <setting name="Overwrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoDetect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveDestination" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartupProgram" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DriveDetection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Passes" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Cancel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlyUSB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoBackup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="TimeStamp" serializeAs="String">
                <value>False</value>
            </setting>
        </VaultBackup.Properties.Settings>
        <CopyUSB.Properties.Settings>
            <setting name="Source" serializeAs="String">
                <value />
            </setting>
            <setting name="Dest" serializeAs="String">
                <value />
            </setting>
            <setting name="IsChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoDetect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveDestination" serializeAs="String">
                <value>False</value>
            </setting>
        </CopyUSB.Properties.Settings>
    </userSettings>
</configuration>